# mŒªrch mŒªdness
[@maxhumber](https://www.twitter.com/maxhumber)

Available at: [https://github.com/maxhumber/march_madness](https://github.com/maxhumber/march_madness)

![](images/aboutme.png)

### inspiration

![538](images/bracket.png)

source: [fivethirtyeight.com](https://projects.fivethirtyeight.com/2019-march-madness-predictions)

![](images/numberphile.png)

source: [numberphile](https://www.youtube.com/watch?v=Vv9wpQIGZDw)

### something for everyone:
- webscraping 
- data cleaning
- poisson
- simulation
- activity

### imports

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

np.random.seed(2000)

### scrape

![](images/big10.png)

source: [ncaa](https://www.sports-reference.com/cbb/seasons/2019-standings.html)

[robots.txt](https://www.sports-reference.com/robots.txt):
```
User-agent: AhrefsBot 
Disallow: /

User-agent: Twitterbot
Disallow:

User-agent: *
Disallow: /bb/
Disallow: /olympics/athlete_search.cgi
Disallow: /cfb/search.cgi
Disallow: /cbb/search.cgi
Disallow: /cbb/boxscores/index.cgi?*
Disallow: /cbb/players/*/splits/*/?*
Disallow: /cbb/players/*/splits/*?*
Disallow: /cbb/players/*/splits/*
Disallow: /cbb/players/*/splits*
Disallow: /cfb/boxscores/index.cgi?*
Disallow: /cfb/players/*/splits/*/?*
Disallow: /cfb/players/*/splits/*?*
Disallow: /cfb/players/*/splits/*
Disallow: /cfb/players/*/splits*
Disallow: /cfb/schools/*/*/splits/*/?*
Disallow: /cfb/schools/*/*/splits/*?*
Disallow: /cfb/schools/*/*/splits/*
Disallow: /cfb/schools/*/*/splits*
Crawl-delay: 3
```

In [2]:
url = 'https://www.sports-reference.com/cbb/seasons/2019-standings.html'
r = requests.get(url)

In [3]:
print(r.text[170825:172000])

   </div>

</div>
<div class="placeholder"></div>
<!--
   <div class="table_outer_container">
      <div class="overthrow table_container" id="div_standings_big-12">
  <table class="sortable stats_table" id="standings_big-12" data-cols-to-freeze=2><caption>Big 12 Conference Table</caption>
   <colgroup><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col><col></colgroup>
   <thead>

      <tr class="over_header">
         <th aria-label="" data-stat="" colspan="3" class=" over_header center" ></th>
         <th aria-label="" data-stat="header_overall" colspan="3" class=" over_header center" >Overall</th><th></th>
         <th aria-label="" data-stat="header_conf" colspan="3" class=" over_header center" >Conference</th><th></th>
         <th aria-label="" data-stat="header_pts_per_g" colspan="2" class=" over_header center" >PTS/G</th><th></th>
         <th aria-label="" data-stat="header_srs" colspan="2" class=" over_header center" >SRS</th><th></th>
         <th aria-label="" data-stat="header_polls" colspan="3" class=" over_header center" >Polls</th>
         <th aria-label="" data-stat="" col

In [4]:
soup = BeautifulSoup(r.text)
soup.find_all(class_='overthrow table_container')

[]

### sneaky people

In [5]:
text = r.text.replace('<!--', '').replace('-->', '')

In [6]:
soup = BeautifulSoup(text)
len(soup.find_all(class_='overthrow table_container'))

32

### pandas üêº

In [7]:
soup = BeautifulSoup(text)
frames = pd.DataFrame()
for table in soup.find_all(class_='overthrow table_container'):
    df = pd.read_html(str(table))[0]
    frames = pd.concat([frames, df])

In [8]:
frames.head()

,Unnamed: 0_level_0,Overall,Unnamed: 2_level_0,Conference,Unnamed: 4_level_0,PTS/G,Unnamed: 6_level_0,SRS,Unnamed: 8_level_0,Polls,...,Unnamed: 12_level_0,Unnamed: 13_level_0,Unnamed: 14_level_0,Unnamed: 15_level_0,Unnamed: 16_level_0,Unnamed: 17_level_0,Unnamed: 18_level_0,Unnamed: 19_level_0,Unnamed: 20_level_0,Unnamed: 21_level_0
,Rk,School,Conf,W,L,W-L%,Unnamed: 6_level_1,W,L,W-L%,...,Opp,Unnamed: 13_level_1,SRS,SOS,Unnamed: 16_level_1,AP Pre,AP High,AP Final,Unnamed: 20_level_1,Notes
0,1.0,Houston,AAC,33.0,3.0,0.917,NaN,16.0,2.0,0.889,...,61.0,NaN,18.97,4.17,NaN,NaN,8.0,11.0,NaN,NCAA Tournament; Reg. Season Champion
1,2.0,Cincinnati,AAC,28.0,7.0,0.800,NaN,14.0,4.0,0.778,...,62.7,NaN,14.57,5.54,NaN,NaN,20.0,22.0,NaN,NCAA Tournament; Conf. Tournament Champion
2,3.0,Central Florida,AAC,24.0,9.0,0.727,NaN,13.0,5.0,0.722,...,64.5,NaN,13.39,5.60,NaN,NaN,25.0,NaN,NaN,NCAA Tournament
3,4.0,Temple,AAC,23.0,10.0,0.697,NaN,13.0,5.0,0.722,...,71.5,NaN,8.20,4.95,NaN,NaN,NaN,NaN,NaN,NCAA Tournament
4,5.0,Memphis,AAC,22.0,14.0,0.611,NaN,11.0,7.0,0.611,...,74.4,NaN,10.71,5.10,NaN,NaN,NaN,NaN,NaN,NaN

### clean üßπ

In [9]:
df = frames.copy()
# squash multi-level
df.columns = ['_'.join(col) for col in df.columns]
df = df.rename(columns={
    'Overall_School': 'school',
    'Unnamed: 2_level_0_Conf': 'conf',
    'Conference_W': 'w',
    'Unnamed: 4_level_0_L': 'l',
    'Unnamed: 11_level_0_Own': 'pf',
    'Unnamed: 12_level_0_Opp': 'pa',
    'Unnamed: 21_level_0_Notes': 'notes'
})

# select only the bits we need
df = df[['school', 'conf', 'w', 'l', 'pf', 'pa', 'notes']]

# need zeroes for the mask to work
df.notes = df.notes.fillna('0')
ncaa = df[df.notes.str.contains('NCAA Tournament')].reset_index(drop=True)

# drop notes, no longer needed
ncaa = ncaa.drop('notes', axis=1)

### model preview

![](images/model.png)

### conference proxy for home

In [10]:
ncaa[ncaa['conf'] == 'ACC']

            school conf     w     l    pf    pa
4         Virginia  ACC  31.0   3.0  71.6  55.0
5   North Carolina  ACC  29.0   6.0  86.0  72.5
6             Duke  ACC  31.0   5.0  83.4  67.6
7    Florida State  ACC  29.0   7.0  75.4  67.0
8    Virginia Tech  ACC  26.0   8.0  73.6  61.7
9       Louisville  ACC  20.0  14.0  74.6  68.4
10        Syracuse  ACC  20.0  14.0  69.7  66.1

In [11]:
conf = df.groupby('conf')[['pf', 'pa']].mean().reset_index()

In [12]:
conf.head()

    conf         pf         pa
0   A-10  69.071429  68.450000
1  A-Sun  70.777778  73.422222
2    AAC  72.433333  69.541667
3    ACC  73.206667  67.820000
4    AEC  67.300000  69.788889

### merge

In [13]:
# bring in conference averages 
ncaa = pd.merge(ncaa, conf, how='left', on='conf', suffixes=('', '_conf'))

# round for the eyes
ncaa.pf_conf = ncaa.pf_conf.apply(round, ndigits=2)
ncaa.pa_conf = ncaa.pa_conf.apply(round, ndigits=2)

In [14]:
ncaa.sample(5)

               school      conf     w     l    pf    pa  pf_conf  pa_conf
38  Northern Kentucky   Horizon  26.0   9.0  77.2  70.1    74.34    76.03
58        Mississippi       SEC  20.0  13.0  75.3  71.1    73.89    70.29
34         Ohio State   Big Ten  20.0  15.0  69.1  66.2    71.59    67.12
52            Colgate   Patriot  24.0  11.0  75.4  70.3    72.55    73.50
24    St. John's (NY)  Big East  21.0  13.0  77.1  74.8    75.25    72.27

### seeds üå±

In [15]:
# bring in seed information
seeds = pd.read_csv('data/seeds.csv')
ncaa = pd.merge(ncaa, seeds, how='left', on=['school'])

# re-order columns
ncaa = ncaa[['school', 'region', 'seed', 'pf', 'pa', 'pf_conf', 'pa_conf']]

# drop the play-in teams, just keep it to 64
ncaa = ncaa[~ncaa.school.isin(
    ['Temple', 'Prairie View', 'St. John\'s (NY)', 'North Carolina Central']
)]

In [16]:
# fix seeding info
ncaa.seed = ncaa.seed.str.replace('b', '').str.replace('a', '')
ncaa.seed = ncaa.seed.apply(int)

# sort
ncaa = ncaa.sort_values(['region', 'seed']).reset_index(drop=True)

In [17]:
ncaa.head()

              school region  seed    pf    pa  pf_conf  pa_conf
0               Duke   East     1  83.4  67.6    73.21    67.82
1     Michigan State   East     2  78.5  65.1    71.59    67.12
2    Louisiana State   East     3  80.9  72.9    73.89    70.29
3      Virginia Tech   East     4  73.6  61.7    73.21    67.82
4  Mississippi State   East     5  77.3  70.4    73.89    70.29

### model constants

In [18]:
PF = round(ncaa.pf.mean(), 2)
PA = round(ncaa.pa.mean(), 2)

### poisson

![](images/poisson.png)

In [19]:
np.random.normal(1, 1)

0.378556968730844

In [20]:
np.random.poisson(1)

2

In [21]:
duke = 83.4
np.random.poisson(duke)

90

### bears to snakes

In [22]:
east = ncaa.query("region == 'East'")
east = east.set_index('school', drop=False)
schools = east.to_dict(orient='index')

In [23]:
schools['Duke']

{'school': 'Duke',
 'region': 'East',
 'seed': 1,
 'pf': 83.4,
 'pa': 67.6,
 'pf_conf': 73.21,
 'pa_conf': 67.82}

In [24]:
schools['North Dakota State']

{'school': 'North Dakota State',
 'region': 'East',
 'seed': 16,
 'pf': 72.2,
 'pa': 74.1,
 'pf_conf': 73.86,
 'pa_conf': 75.94}

### atk / def strength model

In [25]:
def simulate_points(a, b):
    atts = a['pf'] / a['pf_conf']
    defs = b['pa'] / b['pa_conf']
    pts = PF * atts * defs
    return np.random.poisson(pts)

In [26]:
a = schools['Duke']
b = schools['North Dakota State']

In [27]:
simulate_points(a, b)

84

In [28]:
simulate_points(b, a)

73

### simulate game

In [29]:
def simulate_game(a, b):
    pa = simulate_points(a, b)
    pb = simulate_points(b, a)
    return a if pa >= pb else b

In [30]:
simulate_game(a, b)

{'school': 'Duke',
 'region': 'East',
 'seed': 1,
 'pf': 83.4,
 'pa': 67.6,
 'pf_conf': 73.21,
 'pa_conf': 67.82}

### simulate tournament

In [31]:
# bracket pairings
def create_bracket():
    bracket = {
        # 1 - 64 teams
        'A': {1: None, 16: None},
        'B': {8: None, 9: None},
        'C': {5: None, 12: None},
        'D': {4: None, 13: None},
        'E': {6: None, 11: None},
        'F': {3: None, 14: None},
        'G': {7: None, 10: None},
        'H': {2: None, 15: None},
        # 2 - 32 teams
        'AB': {'A': None, 'B': None},
        'CD': {'C': None, 'D': None},
        'EF': {'E': None, 'F': None},
        'GH': {'G': None, 'H': None},
        # 3 - 16 teams
        'ABCD': {'AB': None, 'CD': None},
        'EFGH': {'EF': None, 'GH': None},
        # 4 - 8 teams
        'ABCDEFGH': {'ABCD': None, 'EFGH': None}
    }
    return bracket

In [32]:
bracket = create_bracket()

In [33]:
def seed_bracket(schools):
    init = {s['seed']: s['school'] for s in schools.values()}
    for matchup, seeds in bracket.items():
        for seed in seeds:
            school = init.get(seed)
            bracket[matchup][seed] = school

In [34]:
seed_bracket(schools)

In [35]:
bracket

{'A': {1: 'Duke', 16: 'North Dakota State'},
 'B': {8: 'Virginia Commonwealth', 9: 'Central Florida'},
 'C': {5: 'Mississippi State', 12: 'Liberty'},
 'D': {4: 'Virginia Tech', 13: 'Saint Louis'},
 'E': {6: 'Maryland', 11: 'Belmont'},
 'F': {3: 'Louisiana State', 14: 'Yale'},
 'G': {7: 'Louisville', 10: 'Minnesota'},
 'H': {2: 'Michigan State', 15: 'Bradley'},
 'AB': {'A': None, 'B': None},
 'CD': {'C': None, 'D': None},
 'EF': {'E': None, 'F': None},
 'GH': {'G': None, 'H': None},
 'ABCD': {'AB': None, 'CD': None},
 'EFGH': {'EF': None, 'GH': None},
 'ABCDEFGH': {'ABCD': None, 'EFGH': None}}

### play matchups

In [36]:
def play_game(matchup):
    a, b = bracket[matchup].values()
    winner = simulate_game(schools[a], schools[b])
    winner = winner['school']
    return winner

In [37]:
play_game('A')

'North Dakota State'

In [38]:
def play_region():
    for matchup in bracket:
        winner = play_game(matchup)
        if matchup == 'ABCDEFGH':
            return winner
        else:
            [value 
                 for value in bracket.values() 
                 if matchup in value
            ][0][matchup] = winner

In [39]:
play_region()

'Liberty'

In [40]:
bracket

{'A': {1: 'Duke', 16: 'North Dakota State'},
 'B': {8: 'Virginia Commonwealth', 9: 'Central Florida'},
 'C': {5: 'Mississippi State', 12: 'Liberty'},
 'D': {4: 'Virginia Tech', 13: 'Saint Louis'},
 'E': {6: 'Maryland', 11: 'Belmont'},
 'F': {3: 'Louisiana State', 14: 'Yale'},
 'G': {7: 'Louisville', 10: 'Minnesota'},
 'H': {2: 'Michigan State', 15: 'Bradley'},
 'AB': {'A': 'Duke', 'B': 'Central Florida'},
 'CD': {'C': 'Liberty', 'D': 'Virginia Tech'},
 'EF': {'E': 'Belmont', 'F': 'Yale'},
 'GH': {'G': 'Louisville', 'H': 'Bradley'},
 'ABCD': {'AB': 'Central Florida', 'CD': 'Liberty'},
 'EFGH': {'EF': 'Belmont', 'GH': 'Bradley'},
 'ABCDEFGH': {'ABCD': 'Liberty', 'EFGH': 'Belmont'}}

### again

In [41]:
bracket = create_bracket()
seed_bracket(schools)
winner = play_region()
print(winner)
bracket

Belmont

{'A': {1: 'Duke', 16: 'North Dakota State'},
 'B': {8: 'Virginia Commonwealth', 9: 'Central Florida'},
 'C': {5: 'Mississippi State', 12: 'Liberty'},
 'D': {4: 'Virginia Tech', 13: 'Saint Louis'},
 'E': {6: 'Maryland', 11: 'Belmont'},
 'F': {3: 'Louisiana State', 14: 'Yale'},
 'G': {7: 'Louisville', 10: 'Minnesota'},
 'H': {2: 'Michigan State', 15: 'Bradley'},
 'AB': {'A': 'Duke', 'B': 'Virginia Commonwealth'},
 'CD': {'C': 'Mississippi State', 'D': 'Saint Louis'},
 'EF': {'E': 'Belmont', 'F': 'Louisiana State'},
 'GH': {'G': 'Louisville', 'H': 'Michigan State'},
 'ABCD': {'AB': 'Duke', 'CD': 'Mississippi State'},
 'EFGH': {'EF': 'Belmont', 'GH': 'Michigan State'},
 'ABCDEFGH': {'ABCD': 'Duke', 'EFGH': 'Belmont'}}

### activity

1. Refactor the code to accept {all}/{any of the} four regions

2. Extend or augment the code to keep track of the winners over multiple simulations